// roulette-top
.roulette-top{
    .mbox{}
    .roulette-top-wrap{background:transparent url('../images/roulette.png') center center no-repeat;background-size: cover;margin:0 10px;min-height: 415px;    padding: 0 23px;
        .raund-title{text-align: center;padding-top: 15px;
            p{margin:0 auto;font-weight: 400;letter-spacing: 2px;padding: 2px 0px;}
            b{font-weight: 700;}
        }

        .item-middle{display: flex;justify-content:space-around;align-items: flex-start;
            .item{width: 35%;display: flex;flex-direction:column;
                &.right{align-items: flex-end;text-align: right;

                }
                &.item-center{width: 30%;align-items: center;padding-top: 17px;}
            }
            .item-desc{padding-top: 14px;font-weight: 300;font-size: 12px;max-width: 380px;
                p{margin:0 auto;margin-bottom: 5px;line-height: 1.3;}
            }

            #main_clock{margin:0;width: 197px;margin-bottom: 10px;
                .flip-clock-label{display: none;}
                ul li a div div.inn{font-size: 41px;background-color: #ffffff;color: #35556e;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);border-radius: 3px;}
                ul li{line-height: 55px;}
                ul{margin: 3px;width: 42px;height: 55px;width: 18px;}
                ul.play li.flip-clock-before .down .shadow,ul.play li.flip-clock-before .up .shadow{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.12)), color-stop(100%, rgba(0, 0, 0, 0.25)));}
                .flip-clock-divider{height: 55px;width: 10px;
                    &.minutes{display: none;}
                }
                .flip-clock-dot.top {top: 36px;width: 5px;height: 5px;background-color: #fff;left: 3px;}
                .flip-clock-dot.bottom{width: 5px;height: 5px;background-color: #fff;left: 3px;}
            }

        }
    }
}

.button-red{height: 33px;width: 158px;color: white;text-transform: uppercase;text-decoration: none;display: flex;align-items:center;justify-content:center;background:url('../images/button-red.png') center center no-repeat;border-radius: 3px;overflow: hidden;background-size: cover;background-color: rgba(255, 0, 0, 0.34);transition:all ease .2s;
    &:hover{background-color: rgba(255, 0, 0, 0.54);}
    span{margin:0 auto;}
}
.button-red-center{height: 45px;width: 188px;color: white;text-transform: uppercase;text-decoration: none;display: flex;align-items:center;justify-content:center;background:url('../images/button-red-center.png') center center no-repeat;border-radius: 9px;overflow: hidden;background-size: cover;transition:all ease .2s;

    &:hover{box-shadow: 0px 0px 11px 0px #C42A28;}
    span{margin:0 auto;}
}


// header-profile
.header{position: relative;z-index: 1;}
.header-profile{position: absolute;right: 0;top: 0;min-height: 86px;width: 325px;z-index: 3;background:transparent url('../images/header-profile.png') center bottom no-repeat;padding: 12px;
    .header-profile-top{display: flex;position: relative;
        .header-profile-name{border-radius: 3px;background-color: rgba(255, 255, 255, 0.75);box-shadow: 0px 0px 15.68px 0.32px rgba(0, 0, 0, 0.25);text-align: center;position: absolute;top: 0;right: 0;padding-left: 61px;min-height: 28px;width: calc(100% - 31px);z-index: 1;display: flex;text-align: center;align-items:center;justify-content:flex-start;font-size: 14px;color: #1e384c;
            span{font-weight: bold;}
        }
        .header-profile-img{height: 61px;width: 61px;overflow: hidden;border-radius: 50%;position: relative;z-index: 2;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
        }
    }
    .header-profile-bottom{position: absolute;right: 12px;bottom:17px;width: calc(100% - 95px);
        ul{margin:0 auto;padding: 0;list-style-type: none;width: 100%;display: flex;justify-content: space-around;align-items:center;}
        li{margin:0 5px;}
        a{text-decoration: none;color: white;position: relative;
            &:after{content: '';display: block;position: absolute;left: -10px;background-color: #193347;top: calc(50% - 4px);width: 6px;height: 6px;transform-origin: 50% 50%;border: 1px solid #a4cbe0;transition: all 300ms ease;transform: rotate(0deg);}
            &:hover{
                &:after{transform: rotate(135deg);}
            }
        }
    }
}

