// roulette-top
.roulette-top{
    .mbox{}
    .roulette-top-wrap{background:transparent url('../images/roulette.png') center center no-repeat;background-size: cover;margin:0 10px;min-height: 415px;    padding: 0 23px;
        .raund-title{text-align: center;padding-top: 15px;
            p{margin:0 auto;font-weight: 400;letter-spacing: 2px;padding: 2px 0px;}
            b{font-weight: 700;}
        }

        .item-middle{display: flex;justify-content:space-around;align-items: flex-start;
            .item{width: 35%;display: flex;flex-direction:column;
                &.right{align-items: flex-end;text-align: right;

                }
                &.item-center{width: 30%;align-items: center;padding-top: 17px;}
            }
            .item-desc{padding-top: 14px;font-weight: 300;font-size: 12px;max-width: 380px;
                p{margin:0 auto;margin-bottom: 5px;line-height: 1.3;}
            }

            #main_clock{margin:0;width: 197px;margin-bottom: 10px;
                .flip-clock-label{display: none;}
                ul li a div div.inn{font-size: 41px;background-color: #ffffff;color: #35556e;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);border-radius: 3px;}
                ul li{line-height: 55px;}
                ul{margin: 3px;width: 42px;height: 55px;width: 18px;}
                ul.play li.flip-clock-before .down .shadow,ul.play li.flip-clock-before .up .shadow{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.12)), color-stop(100%, rgba(0, 0, 0, 0.25)));}
                .flip-clock-divider{height: 55px;width: 10px;
                    &.minutes{display: none;}
                }
                .flip-clock-dot.top {top: 36px;width: 5px;height: 5px;background-color: #fff;left: 3px;}
                .flip-clock-dot.bottom{width: 5px;height: 5px;background-color: #fff;left: 3px;}
            }

        }
    }
}

.button-red{height: 33px;width: 158px;color: white;text-transform: uppercase;text-decoration: none;display: flex;align-items:center;justify-content:center;background:url('../images/button-red.png') center center no-repeat;border-radius: 3px;overflow: hidden;background-size: cover;background-color: rgba(255, 0, 0, 0.34);transition:all ease .2s;
    &:hover{background-color: rgba(255, 0, 0, 0.54);}
    span{margin:0 auto;}
}
.button-red-center{height: 45px;width: 188px;color: white;text-transform: uppercase;text-decoration: none;display: flex;align-items:center;justify-content:center;background:url('../images/button-red-center.png') center center no-repeat;border-radius: 9px;overflow: hidden;background-size: cover;transition:all ease .2s;

    &:hover{box-shadow: 0px 0px 11px 0px #C42A28;}
    span{margin:0 auto;}
}


// header-profile
.header{position: relative;z-index: 2;}
.header-profile{position: absolute;right: 0;top: 0;min-height: 86px;width: 325px;z-index: 3;background:transparent url('../images/header-profile.png') center bottom no-repeat;padding: 12px;
    .header-profile-top{display: flex;position: relative;
        .header-profile-name{border-radius: 3px;background-color: rgba(255, 255, 255, 0.75);box-shadow: 0px 0px 15.68px 0.32px rgba(0, 0, 0, 0.25);text-align: center;position: absolute;top: 0;right: 0;padding-left: 61px;min-height: 28px;width: calc(100% - 31px);z-index: 1;display: flex;text-align: center;align-items:center;justify-content:flex-start;font-size: 14px;color: #1e384c;
            span{font-weight: bold;}
        }
        .header-profile-img{height: 61px;width: 61px;overflow: hidden;border-radius: 50%;position: relative;z-index: 2;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
        }
    }
    .header-profile-bottom{position: absolute;right: 12px;bottom:17px;width: calc(100% - 95px);
        ul{margin:0 auto;padding: 0;list-style-type: none;width: 100%;display: flex;justify-content: space-around;align-items:center;}
        li{margin:0 5px;}
        a{text-decoration: none;color: white;position: relative;
            &:after{content: '';display: block;position: absolute;left: -10px;background-color: #193347;top: calc(50% - 4px);width: 6px;height: 6px;transform-origin: 50% 50%;border: 1px solid #a4cbe0;transition: all 300ms ease;transform: rotate(0deg);}
            &:hover{
                &:after{transform: rotate(135deg);}
            }
        }
    }
}

// spidy
.spidy-wrap{width: 719px;margin:0 auto;height: 198px;position: relative;overflow: hidden;pointer-events:none;
    &.active{
        .pautinka{animation-name:pautinkaShow;animation-duration:4s;animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);animation-fill-mode: forwards;}
        .spidy-richag{animation-name:richagMove;animation-duration:1s;animation-delay: 2s;animation-fill-mode: forwards;}
    }
    .spidy-richag-bottom{position: absolute;bottom: -27px;left: 60px;z-index: 10;}
    .spidy-guy{position: absolute;right: -7px;bottom: -18px;}


    .spidy-richag{position: absolute;bottom: -42px;left: 26px;transform-origin: 100% 100%;transform: rotate(0deg);transition:all ease .2s;}
    .pautinka{position: absolute;top: 75px;right: 241px;width: 0px;height: 33px;transform-origin: 100% 100%;transform: rotate(0deg) translate(0px,0px);}
}

@keyframes pautinkaShow {
    0% { width: 0px; transform: rotate(0deg);top: 75px;}
    50% { width: 457px; }
    75% { width: 400px;}
    85% { opacity: 1;}
    99% { transform: rotate(0deg);top: 72px;height: 25px;}
    100% {transform: rotate(0deg); opacity:0;right: 248px;width: 400px;}
}
@keyframes richagMove{
    0%{transform: rotate(0deg) translate(0px,0px);}
    100%{transform: rotate(21deg) translate(-8px,13px);}
}


// users
.users{
    p{margin:4px 0px;}
    .user-top{min-height: 134px;background:transparent url('../images/user-top.jpg') left top repeat-x;display: flex;align-items:center;justify-content:center;padding-top: 17px;padding-left: 50px;padding-right: 50px;flex-wrap: wrap;background-size: contain;border-radius: 10px;}
    .user-item{text-align: center;margin:0 5px;padding-bottom: 15px;padding-top: 15px;
        .user-item-img{height: 62px;width: 62px;position: relative;margin-bottom: 6px;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 50%;overflow: hidden;box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.67);}
        }
        .user-item-percent{font-size: 14px;}
    }
    .user-row-main{overflow: hidden;}
    .user-row-scroll{max-height: 700px;overflow-x:hidden;overflow-y:scroll;}
    .user-row-wrap{
        .user-row{width: 100%;display: flex;border-radius: 6px;box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.17);background: linear-gradient(to bottom, #cc5452 0%,#c14947 50%,#ae3634 100%);position: relative;margin-bottom: 1px;
            &:nth-child(even){background: linear-gradient(to bottom, #b97473 0%,#b77271 25%,#b06b69 51%,#9c5755 100%);}
            &:after{content: '';height: 100%;position: absolute;z-index: 1;width: 100%;left: 0;left: 0;background: url('../images/soty.png') left top repeat;}
            .user-row-item{position: relative;z-index: 2;
                &.item1{width: 305px;display: flex;align-items:center;padding-right: 10px;
                    .user-row-img{height: 85px;width: 85px;position: relative;margin: 0 17px;
                        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);overflow: hidden;border-radius: 50%;}
                    }
                    .user-row-text{font-weight: 300;
                        span{margin-bottom: 7px;font-weight: 500;display: inline-block;}
                        b{font-weight: 500;}
                    }
                }
                &.item2{width: calc(100% - 610px);
                    .user-row-goods{border-radius: 6px;background-color: rgba(37,60,79,0.46);margin:3px 0px;padding: 7px 0px 0px;display: flex;align-items:flex-start;justify-content: flex-start;flex-wrap: wrap;
                        .user-row-good{background-color: #fff;border:1px solid #fff;border-radius: 6px;height: 98px;width: 98px;overflow: hidden;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;margin: 0 5px 7px 8px;
                            .user-row-good-img{width: 100%;height: 77px;position: relative;
                                img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
                            }
                            .user-row-good-price{background-color: #273a4a;height: 21px;text-align: center;display: flex;align-items:center;justify-content:center;color: white;font-weight: 300;border-radius:3px;
                                b{font-weight: 500;margin: 0 3px;}
                            }
                        }
                    }
                }
                &.item3{width: 305px;display: flex;align-items:center;justify-content: center;text-transform: uppercase;font-weight: 500;font-size: 14px;position: relative;
                    .user-row-percent{position: absolute;width: 30px;right: 0;top: 0;;height: 100%;text-align: center;display: flex;align-items:center;justify-content:center;
                        &:after{content: '';bottom: 0;left: 0;background: transparent url("../images/user-row-percent.png") left top repeat-y;height: 100%;width: 1px;position: absolute;}
                        p{transform: rotate(90deg);}
                    }
                }
            }
        }
    }

}
