// roulette-top
.roulette-top{
    .mbox{}
    .roulette-top-wrap{background:transparent url('../images/roulette.png') center center no-repeat;background-size: cover;margin:0 10px;min-height: 415px;    padding: 0 23px;
        .raund-title{text-align: center;padding-top: 15px;
            p{margin:0 auto;font-weight: 400;letter-spacing: 2px;padding: 2px 0px;}
            b{font-weight: 700;}
        }

        .item-middle{display: flex;justify-content:space-around;align-items: flex-start;
            .item{width: 35%;display: flex;flex-direction:column;
                &.right{align-items: flex-end;text-align: right;

                }
                &.item-center{width: 30%;align-items: center;padding-top: 17px;}
            }
            .item-desc{padding-top: 14px;font-weight: 300;font-size: 12px;max-width: 380px;
                p{margin:0 auto;margin-bottom: 5px;line-height: 1.3;}
            }

            #main_clock{margin:0;width: 197px;margin-bottom: 10px;
                .flip-clock-label{display: none;}
                ul li a div div.inn{font-size: 41px;background-color: #ffffff;color: #35556e;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);border-radius: 3px;}
                ul li{line-height: 55px;}
                ul{margin: 3px;width: 42px;height: 55px;width: 18px;}
                ul.play li.flip-clock-before .down .shadow,ul.play li.flip-clock-before .up .shadow{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.12)), color-stop(100%, rgba(0, 0, 0, 0.25)));}
                .flip-clock-divider{height: 55px;width: 10px;
                    &.minutes{display: none;}
                }
                .flip-clock-dot.top {top: 36px;width: 5px;height: 5px;background-color: #fff;left: 3px;}
                .flip-clock-dot.bottom{width: 5px;height: 5px;background-color: #fff;left: 3px;}
            }

        }
    }
}

.button-red{height: 33px;width: 158px;color: white;text-transform: uppercase;text-decoration: none;display: flex;align-items:center;justify-content:center;background:url('../images/button-red.png') center center no-repeat;border-radius: 3px;overflow: hidden;background-size: cover;background-color: rgba(255, 0, 0, 0.34);transition:all ease .2s;
    &:hover{background-color: rgba(255, 0, 0, 0.54);}
    span{margin:0 auto;}
}
.button-red-center{height: 45px;width: 188px;color: white;text-transform: uppercase;text-decoration: none;display: flex;align-items:center;justify-content:center;background:url('../images/button-red-center.png') center center no-repeat;border-radius: 9px;overflow: hidden;background-size: cover;transition:all ease .2s;

    &:hover{box-shadow: 0px 0px 11px 0px #C42A28;}
    span{margin:0 auto;}
}

