<!-- FOOTER -->
<footer class="footer">

    <div class="mbox">
        <div class="footer-wrap">

            <div class="footer-left">
                <img src="images/footer-img.png" alt="" />
            </div>
            <div class="footer-right">
                <div class="footer-title">игра началась! вносите депозиты!</div>
                <div class="footer-bottom">
                    <div class="footer-button">
                        <a href="#" class="button-red">
                            <span>честная игра</span>
                        </a>
                    </div>
                    <div class="button-bottom-text">хэш раунда</div>
                </div>
            </div>

        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/flipclock.min.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
