<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="header-wrap">

            <div class="header-logo">
                <img src="images/header-logo.png" alt="">
            </div>

            <div class="header-list">
                <ul>
                    <li>
                        <a href="#">ТОП</a>
                    </li>
                    <li>
                        <a href="#">ИСТОРИЯ ИГР</a>
                    </li>
                    <li>
                        <a href="#">о сайте</a>
                    </li>
                    <li>
                        <a href="#">поддержка</a>
                    </li>
                </ul>
            </div>

            <div class="header-steam">

                <a href="#" class="steam-button">
                    <img src="images/steam-img.png" alt="" />
                </a>


                <div class="header-profile">

                    <div class="header-profile-top">
                        <div class="header-profile-name">
                            Привет, <span>Мастир Йода</span>
                        </div>
                        <div class="header-profile-img">
                            <img src="images/header-profile-img.jpg" alt="" />
                        </div>
                    </div>

                    <div class="header-profile-bottom">
                        <ul>
                            <li>
                                <a href="#">Выйти</a>
                            </li>
                            <li>
                                <a href="#">Профиль</a>
                            </li>
                            <li>
                                <a href="#">Настройки</a>
                            </li>
                        </ul>
                    </div>


                </div>


            </div>

        </div>

    </div>

</header>
<!-- /HEADER -->

