<section class="roulette">

    <div class="roulette-top">
        <div class="mbox">
            <div class="roulette-top-wrap">
                <div class="item-row raund-title">
                    <p><b>РАУНД</b>   №685</p>
                    <p>65 985 руб.</p>
                </div>
                <div class="item-row item-middle">
                    <div class="item left">
                        <a href="#" class="button-red">
                            <span>принцип игры</span>
                        </a>
                        <div class="item-desc">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <p>Unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                        </div>
                    </div>
                    <div class="item item-center">
                        <div id="main_clock"></div>
                        <a href="#" class="button-red-center">
                            <span>внести депозит</span>
                        </a>
                    </div>
                    <div class="item right">
                        <a href="#" class="button-red">
                            <span>прими участие</span>
                        </a>
                        <div class="item-desc">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <p>Unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="roulette-baraban">
        //= roulette-baraban.html
    </div>
</section>