<div class="mbox">

    <div class="roulette-baraban-wrap">

        <div class="corner-block corner-left-block">
            <div class="baraban-user-logo">
                <img src="images/header-profile-img.jpg" alt="" />
            </div>
            <div class="baraban-user-info">
                <div class="baraban-user-stat">
                    <p><span>ВЫИГРЫШ:</span>   554,98</p>
                    <p><span>ШАНС:</span> 554,98</p>
                </div>
                <div class="baraban-user-name">
                    <span>Мастир Йода</span>
                </div>
            </div>
        </div>

        <div class="progress-bar">

            <div class="progress-wrap">
                <div class="progress-line" style="width:50%"></div>
            </div>
            <div class="progress-value"><span>50</span>/100</div>

        </div>

        <!-- baraban-main -->

            <div class="baraban-main">

                <div class="baraban-arrow"></div>

                <div class="baraban-main-wrap">

                    <div class="user-img">
                        <img src="images/player-img1.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img3.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img4.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img5.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img1.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>

                    <div class="user-img">
                        <img src="images/player-img1.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>

                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img3.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img4.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img5.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img1.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>

                    <div class="user-img">
                        <img src="images/player-img1.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img3.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img4.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img5.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img6.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img1.jpg" alt="" />
                    </div>
                    <div class="user-img">
                        <img src="images/player-img2.jpg" alt="" />
                    </div>

                </div>

            </div>

        <!-- /baraban-main -->

        <div class="corner-block corner-right-block">
            <div class="baraban-descript-text">ДОБАВЬ К НИКУ POLECS.RU И ПОЛУЧИ +5% К ШАНСУ</div>
        </div>

    </div>

</div>