<section class="users">
    <div class="mbox">
        <div class="user-top">
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img1.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img2.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img3.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img4.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img5.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img6.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
            <div class="user-item">
                <div class="user-item-img">
                    <img src="images/player-img7.jpg" alt="">
                </div>
                <div class="user-item-percent">
                    <span>88%</span>
                </div>
            </div>
        </div>
        <div class="user-row-wrap">
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img2-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Спуди</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img1-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Мертвыйбасейн</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img3-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Битман</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img2-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Спуди</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img1-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Мертвыйбасейн</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img2-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Спуди</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
                        <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img2-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Спуди</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img1-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Мертвыйбасейн</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
            <div class="user-row">
                <div class="user-row-item item1">
                    <div class="user-row-img">
                        <img src="images/player-img2-big.jpg" alt="">
                    </div>
                    <div class="user-row-text">
                        <div class="user-row-name">
                            <span>Спуди</span>
                            <p>Кол-во вещей: <b>6</b></p>
                            <p>Общая сумма: <b>650</b> руб.</p>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item2">
                    <div class="user-row-goods">
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-3.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-1.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                        <div class="user-row-good">
                            <div class="user-row-good-img">
                                <img src="images/karambit-2.jpg" alt="">
                            </div>
                            <div class="user-row-good-price">
                                <b>265,99</b> руб.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-row-item item3">
                    <div class="user-row-bilet">
                        <p>БИЛЕТ</p>
                        <p> ОТ #8 ДО #99</p>
                    </div>
                    <div class="user-row-percent">
                        <p>95.26%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>